@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}

body {
  max-width: 90%;
  margin: auto;
  background-color: #f5f5f5;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #006a50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.6rem;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: blanchedalmond;
  box-shadow: 0 0 0 0.1px #0e0e0e;
  color: darkblue;
}
header {
  margin-bottom: 3rem;
}
main {
  margin-bottom: 3rem;
}
/* nav start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

nav h1 {
  font-weight: bolder;
}

#singin {
  color: #006a50;
  padding: 0.7rem;
  border: #006a50 solid 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#singin:hover{
  background-color: blue;
  color:#d5e1f5 ;
}
/* banner code */
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6e4d6;
  padding: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10px;
}

#banner .banner_image {
  flex: 1;
}

#banner .banner_content {
  flex: 1;
  text-align: left;
  padding: 1rem;
  font-size: 1.6rem;
}

#banner .banner_content p {
  opacity: 0.6;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}
#banner .banner_content h1 {
  font-weight: bold;
  font-size: 2.8rem;
}

/* PillarsOfBangladesh */
#PillarsOfBangladesh {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

#PillarsOfBangladesh .Pillars_title {
  font-size: 2rem;
  font-weight: bolder;
  color: #0e0e0e;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#PillarsOfBangladesh .phillars {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

#PillarsOfBangladesh .phillars .phillars_content {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 0 0.1px #0e0e0e;
  transition: all 0.3s ease-in-out;
}
#PillarsOfBangladesh .phillars .phillars_content:hover {
  background-color: #c6e4d6;
}
#PillarsOfBangladesh .phillars .phillars_content h2 {
  margin-top: 1rem;
  font-weight: bolder;
  color: #0e0e0e;
}
#PillarsOfBangladesh .phillars .phillars_content p {
  margin-top: 1rem;
  opacity: 0.7;
}
/* the fureture of banglesh code start here */
#FutureOfBangladesh {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
#FutureOfBangladesh .future_title {
  font-size: 2rem;
  font-weight: bolder;
  color: #0e0e0e;
  margin-bottom: 1rem;
}
#FutureOfBangladesh .future_des {
  margin-bottom: 2rem;
  opacity: 0.6;
}
.future {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
#FutureOfBangladesh .future .future_content {
  flex: 1;
  padding: 2rem;
  border-radius: 10px;
  min-height: 300px;
}

#FutureOfBangladesh .future .future_content h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#FutureOfBangladesh .future .future_content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}
#FutureOfBangladesh .future .future_content .fbtn2 {
  background-color: #09a15c;
}
#FutureOfBangladesh .future .future_content .fbtn3 {
  background-color: #ffc239;
}
#FutureOfBangladesh .future .future_content .fbtn1 {
  background-color: #5490f5;
}
#FutureOfBangladesh .future .clOne {
  background-color: #d5e1f5;
  transition: all 0.3s ease-in-out;
}
#FutureOfBangladesh .future .clTwo {
  background-color: #c6e4d6;
  transition: all 0.3s ease-in-out;
}
#FutureOfBangladesh .future .clThree {
  background-color: #f7ebcf;
  transition: all 0.3s ease-in-out;
}
#FutureOfBangladesh .future .clOne:hover {
  background-color: #ffc239;
}
#FutureOfBangladesh .future .clTwo:hover {
  background-color: #ffc239;
}
#FutureOfBangladesh .future .clThree:hover {
  background-color: #ffc239;
}
#quts {
  margin-bottom: 3rem;
}
#quts .quts_container {
  box-shadow: 0 0 0 0.1px #0e0e0e;
  padding: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 5px;
}
#quts .quts_container .bgimag {
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}
#quts .quts_container .bgimag p {
  opacity: 0.8;
  margin-bottom: 1rem;
}
#quts .quts_container h4 {
  font-weight: bolder;
  font-size: 1rem;
}
#quts .quts_container p small {
  opacity: 0.6;
}
#opinion_metter .opinion_container {
  background-color: #fff;
}

#opinion_metter .opinion_container .opinion_head {
  box-shadow: 0 0 0 0.5px #0e0e0e;
}
#opinion_metter .opinion_container .opinion_head .opinion_head_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #c6e4d6;
}
#opinion_content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: -1rem;
}
#opinion_content .text {
  display: flex;
  flex: 3;
  flex-direction: column;
}
#opinion_content .text p {
  padding: 1rem;
  border-bottom: 1px solid #0e0e0e;
  border-right: 1px solid #0e0e0e;
}
#select_option {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#select_option div {
  border-bottom: 1px solid #0e0e0e;
  padding: 1rem;
}
#select_option select {
  border-radius: 5px;
  background-color: #c6e4d6;
  outline: none;
}
#opinion_metter h1 {
  font-weight: bolder;
}
#opinion_metter .opinion_container {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
}
